.college {
  &__routes {
    padding: 32px;
    background-color: #f0f2f5;
    min-height: calc(100vh - 136px);
    & > .flex {
      gap: 32px;
      align-items: flex-start;
    }
  }
  &__info {
    background: white;
    padding: 16px 24px;
    border-radius: 4px;
    width: 300px;
    ul {
      border-bottom: 1px solid #bfbfbf;
    }
    .flex,
    li {
      gap: 12px;
      display: flex;
      padding: 8px 0;
      align-items: flex-start;
      justify-content: space-between;
    }

    h4 {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.85);
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #595959;
    }
  }
  &__directions {
    & > .flex {
      margin-bottom: 16px;
      align-items: center;
      justify-content: space-between;
    }
    flex-grow: 1;
    padding: 24px;
    border-radius: 4px;
    background-color: white;
  }
  & > h1 {
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
  }

  .sozlama {
    h1 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.85);

      margin-bottom: 16px;
      padding-bottom: 12px;
      border-bottom: 1px solid #f0f2f5;
    }
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.85);
    }
    li {
      padding: 10px;
      justify-content: space-between;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #595959;
      }
      h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
      &:nth-child(even) {
        background-color: #f3f3f6;
      }
    }
    & > div {
      width: 50%;
      padding: 24px;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: white;
    }
    &__withImage {
      .ant-image {
        width: 240px;
        height: 300px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      & > .flex {
        gap: 16px;
        div {
          &:nth-child(2) {
            flex-grow: 1;
          }
        }
      }
    }
    &__noImage {
      h1 {
        flex-grow: 1;
      }
    }
  }

  .subject {
    &__tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      background: white;
      border-radius: 8px;
      margin-bottom: 24px;
      .ant-tabs-nav {
        margin-bottom: 0;
      }
    }
  }

  .theme {
    &__header {
      display: flex;
      padding: 4px 12px;
      border-radius: 8px;
      align-items: center;
      background-color: white;
      justify-content: space-between;
    }
    &__body {
      gap: 16px;
      display: flex;
      margin-top: 16px;
      flex-direction: column;

      .ant-collapse {
        font-size: 16px;
        background-color: #ffffff;
      }
    }
    &__items {
      .single {
        gap: 24px;
        padding: 12px 24px;
        border-radius: 8px;
        align-items: center;
        & > div {
          flex-grow: 1;

          h3 {
            font-size: 18px;
            line-height: 120%;
            font-weight: 500;
          }
        }

        &:not(:first-child) {
          margin-top: 16px;
        }

        & > .flex {
          gap: 12px;
          align-items: center;
          justify-content: flex-end;
        }
      }

      .ppt {
        border: 1px solid #d35230;
      }
      .pdf {
        border: 1px solid #c80a0a;
      }
      .doc {
        border: 1px solid #185abd;
      }
      .mp4 {
        border: 1px solid #14c130;
      }
      .link {
        border: 1px solid #454db9;
      }
    }
  }
}
